<!DOCTYPE html>
<html>
 
    <head>
        <title>Robot TIPE 2016</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
 
<style>
table ,td, tr {
        width: 15%;
}
 
</style>
 
    <body>
        <img src="http://192.168.43.181:8081/" style="width:100%; max-width: 600px; max-height:600px; border-radius:10px"></img>

        <table style="width:100%">
            <tr>
                <td>
                    <form action="/1" method="POST">
                        <input type="image" name="direction" src="/static/img/leftup.svg" value="leftup" style="width:100%">
          	    </form>
                </td>
		<td>
		    <form action="/18" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="leftup" style="width:100%">
          	    </form>
                </td>
                <td>
                    <form action="/2" method="POST">
                        <input type="image" name="direction" src="/static/img/rightup.svg" value="rightup"  style="width:100%">
                    </form>
                </td>
                <td></td>
		<td>
                    <form action="/10" method="POST">
                        <input type="image" name="direction" src="/static/img/close.svg" value="exit" style="width:50%">
                    </form>
                </td>
		<td>
		    <form action="/13" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="stopeee" style="width:100%">
                        </br>
                    </form>
		</td>
 
            </tr>
            <tr>
                <td>
                    <form action="/6" method="POST">
                        <input type="image" name="direction" src="/static/img/left.svg" value="left"  style="width:100%">
                        </br>
                    </form>
                </td>
                <td>
                    <form action="/0" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="stop"  style="width:100%">
                        </br>
                    </form>
                </td>
                <td>
                    <form action="/3" method="POST">
                        <input type="image" name="direction" src="/static/img/right.svg" value="right" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/20" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="take" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/16" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="take" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/15" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="stopeeesse" style="width:100%">
                        </br>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/5" method="POST">
                        <input type="image" name="direction" src="/static/img/leftdown.svg" value="leftdown" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/19" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="leftup" style="width:100%">
          	    </form>
                </td>
                <td>
                    <form action="/4" method="POST">
                        <input type="image" name="direction" src="/static/img/rightdown.svg" value="rightdown" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/21" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="take" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/17" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="rel" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/14" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="stopee" style="width:100%">
                        </br>
                    </form>
                </td>
		
            </tr>
            <tr>
                <td>
                    <form action="/7" method="POST">
                        <input type="image" name="direction" src="/static/img/turnleft.svg" value="leftturn" style="width:100%">
                        </br>
                    </form>
                </td>
                <td>
                    <form action="/8" method="POST">
                        <input type="image" name="direction" src="/static/img/turnright.svg" value="rightturn" style="width:100%">
                        </br>
                    </form>
                </td>
                
                <td>
                    <form action="/11" method="POST">
                        <input type="image" name="direction" src="/static/img/turnleft.svg" value="lefttsurn" style="width:100%">
                        </br>
                    </form>
                </td>
                <td>
                    <form action="/12" method="POST">
                        <input type="image" name="direction" src="/static/img/turnright.svg" value="rigshtturn" style="width:100%">
                        </br>
                    </form>
                </td>
		<td>
		    <form action="/22" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="take" style="width:100%">
                        </br>
                    </form>
		</td>
		<td>
		    <form action="/23" method="POST">
                        <input type="image" name="direction" src="/static/img/stop.svg" value="take" style="width:100%">
                        </br>
                    </form>
		</td>
            </tr>
        </table>
 
    </body>
</html>
